<%- include('../partials/header.ejs') %>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-10 mx-auto">
                <div class="card shadow">

                    <div class="card-body p-3">
                        <img src="https://www.pngmagic.com/product_images/nature-background-with-tropical-plants_84e.jpeg"
                            class="img-fluid" alt="wallpaper">
                        <div class="my-3">
                            <div>Author: MArk Zuckerberg</div>
                            <div>Created:11-21-2024</div>
                        </div>
                        <h1 class="lead text-secondary d-flex align-items-center fw-semibold justify-content-between">
                            Wallpaper
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. A, qui eaque! Molestiae voluptatem
                            maiores voluptatibus sed dolor. Dolorum sequi, totam soluta aut, ullam atque esse ducimus
                            animi ipsum aspernatur temporibus!
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>